
        <div class="home-wrapper">
            <div class="card">
                <div class="card-body">
                    <form class="form-signin"  #en="ngForm">
                        <h1 class="h3 mb-3 font-weight-normal">Select Your Option</h1>
                        
                       <button (click)="encription()" class="btn btn-lg btn-primary btn-block"type="submit">Encryption</button>
                      <br>
                        <button (click)="decryption()" class="btn btn-lg btn-primary btn-block"type="submit">Decryption</button>

                    </form>
                </div>
            </div>
        </div>
          
    
    


 
