<div class="encrpt-wrapper">

    <div class="card-body">
        <form class="form-signin ">
            <h5 >Your Message Encryted Successfully</h5>


            <br>
            <div class="row">
                <!-- <button (click)="Download()" class="btn btn-lg btn-primary btn-block"type="submit">Download</button> -->
                <a target="_self" href="{{img}}" download="Download">
                    <img src="{{img}}" target="_self" alt="Download" width="200" height="200">
                </a>
            </div>



        </form>
    </div>

</div>